@use './../../../../src/styles/typography' as typography;
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.userWrapper {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.text {
  font: typography.$h5-700-24-RFDewi;
}

.iframe {
  margin: 10px 0;
}